    
      
</body>
<foot>
    <div class="rows" >
        <div class="cols" style="color: white;text-align: center;">
            <h3>Made with <i class="icon red heart small"></i> by Samarth Nehe</h3>
            <div >
                <ul class="demo">
                    <li><a href="https://www.facebook.com/samarth.nehe.75"><i class="icon large facebook"></i></a></li>
                    <li><a href="https://github.com/Samarthnehe"><i class="icon large github"></i></a></li>
                    <li><a href="https://www.instagram.com/sam.cuber/"><i class="icon large instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/samarth-nehe-a0b9b519b/"><i class="icon large linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCHTIqCRAzQlN-I0_DJeX8jw"><i class="icon large youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="cols" style="text-align: center;bottom: 0;right: 0;color: white;">
            <h3><i class="question small icon"></i>VITHub</h3>
            <p></i>samarthnehe2000@gmail.com</p>
            <p><i class="icon small phone"></i>+91 6303618891</p>

        </div>
   </div> 
</foot>



</html>